<div>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @spot.name %>
	</p>

	<p>
	  <strong>Sport:</strong>
	  <%= @spot.sport %>
	</p>


	<p>
	  <strong>Seasons:</strong>
	  <% 12.times do |t| %>
	   	<%= get_months[t] %>
	  	<%= @spot.seasons[t] %>
	  <% end %>
	</p>
</div>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>

<!-- Begin Google Maps Script -->
 <script>
function initialize() {
  var myLatlng = new google.maps.LatLng( <%= @spot.latitude %>, 
  				<%= @spot.longitude %>);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '<%= @spot.name %>'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!-- End of Google Maps Script -->

<div id="map-canvas"></div>


<div id="spot-images">
	<% @spot_images.each do |img| %>
		<%= image_tag "#{@spot.id}/#{img}", size: "400x300" %>
	<% end %>
</div>
