<div class="fotorama">
  	<div>
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @spot.name %>
		</p>

		<p>
		  <strong>Latitude:</strong>
		  <%= @spot.latitude %>
		</p>

		<p>
		  <strong>Longitude:</strong>
		  <%= @spot.longitude %>
		</p>

		<p>
		  <strong>Sport:</strong>
		  <%= @spot.sport %>
		</p>
	</div>
	<img src="http://s.fotorama.io/1.jpg">
  <img src="http://s.fotorama.io/2.jpg">

</div>
<!-- Begin Google Maps Script -->
 <script>
function initialize() {
  var myLatlng = new google.maps.LatLng( <%= @spot.latitude %>, 
  				<%= @spot.longitude %>);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!-- End of Google Maps Script -->

<div id="map-canvas"></div>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>




<!-- 2. Add images to <div class="fotorama"></div>. -->
