<% provide(:title, 'Schools') %>
<h1>Listing schools</h1>

<table>
  <thead>
    <tr>
      <th>Spot</th>
      <th>Sports</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Link</th>
      <th>Affiliation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.spot_id %></td>
        <td><%= school.sports %></td>
        <td><%= school.name %></td>
        <td><%= school.latitude %></td>
        <td><%= school.longitude %></td>
        <td><%= school.link %></td>
        <td><%= school.affiliation %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
